html, body {
  margin: 0;
  padding: 0; }

.navbar {
  float: right; }
  .navbar li {
    list-style-type: none;
    display: inline-block; }
    .navbar li a {
      padding: 5px;
      display: block;
      text-decoration: none;
      color: #222; }

.centerpage {
  text-align: center;
  position: relative;
  top: 200px; }
  .centerpage img {
    display: inline-block;
    margin: 0 auto; }
